<h2>ユーザー情報</h2>

<% if current_user then %>
  <%= render partial: "user_profile" %>
<% else %>
  ログインしていません。<%= link_to 'Googleでログイン', user_omniauth_authorize_path(:google_oauth2) %>してください。
<% end %>
